[submodule "content"]
	path = content
	url = git@github.com:tsaikd/blog.git
	branch = blog
[submodule "themes/redlounge"]
	path = themes/redlounge
	url = git@github.com:tsaikd/hugo-redlounge.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:tsaikd/blog.git
	branch = gh-pages
